# ADD THEOSE VARS
# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development
# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug
# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL= // webook address
PRIVATE_KEY= // BOT SSH KEY FOR GITHUB INTEGRATION
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TOKEN=
G_BOT_OWNER= //OWNER OF REPO
G_BOT_REPO= //REPO TO WORK AGAINST
JENKINS_URL= 
JENKINS_USER_ID=
JENKINS_TOKEN=
TOKEN_NAME= //NAME OF JENKINS TOKEN
JENKINS_JOB_NAME= // JOB TO BUILD
